# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env*.local

# next.js build output
.next

# serverless-stack build output
.build
.sst

# OS X temporary files
.DS_Store
.AppleDouble
.LSOverride

# OS X files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# OS X directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VS solution user settings
*.suo
*.jsproj.user
*.sdf
*.opensdf
*.vcxproj.user
*.sln.metaproj
*.sln.metaproj.tmp
.ntvs_analysis.dat
.vscode/launch.json

# Cache files
.cache
*.cache
*.swp
*.tsbuildinfo
*~

# node.js packages
node_modules
.node_modules

# Deleted submodules
submodules

# Sublime project/workspace files
*.sublime-*

# Windows Explorer turds
*.db

# WebStorm and IdealJ IDE files
# android studio hidden folders
.idea

# Merge turds
*.orig

# Common toolchain intermediate files
temp
lib
lib-amd
lib-es6
lib-esnext
lib-commonjs
*.scss.ts
*.sass.ts

# Generated files created by heft plugins (or other tools)
*/*/src/generated/*

# Exception for generated translation files
!*/*/src/generated/resources/
*/*/src/generated/resources/*.d.ts

# generated by TSDoc
tsdoc-metadata.json

# marked as ignore
*.ignore.*

# npm only
src/
build/
.vscode
tsconfig.json

# Folders
__tests__
test
tests
powered-test
docs
doc
website
example
examples
coverage
.nyc_output
.circleci
.github


# Files
Makefile
Gulpfile.js
Gruntfile.js
gulpfile.js
.tern-project
.gitattributes
.editorconfig
.eslintrc
eslint
.eslintrc.js
.eslintrc.json
.eslintrc.yml
.eslintignore
.stylelintrc
stylelint.config.js
.stylelintrc.json
.stylelintrc.yaml
.stylelintrc.yml
.stylelintrc.js
.htmllintrc
htmllint.js
.lint
.jshintrc
.flowconfig
.documentup.json
.yarn-metadata.json
.travis.yml
appveyor.yml
.gitlab-ci.yml
circle.yml
.coveralls.yml
CHANGES
changelog
AUTHORS
CONTRIBUTORS
.yarnclean
_config.yml
.babelrc
.yo-rc.json
jest.config.js
karma.conf.js
.appveyor.yml
.zuul.yml
.npmrc
.npmrc
.jscsrc
.jscs.json
.uglifyjsrc
.uglifyjsrc.json
Procfile



# Folders


# Files

